.container-seven {
  padding: 15px;
  outline: 3px solid rgb(123, 0, 255);
  gap: 15px;
  display: flex;
}

.block-item {
  margin-bottom: 20px;
}

.accordion-flush {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 10px;
  padding-right: 1rem;
  padding-bottom: 10px;
  padding-left: 1rem;
  font-size: 1rem;
}

.accordion-body {
  padding: 1rem;
}

.container-question {
  padding: 0;
  width: 50%;
}

.container-img {
  padding: 0;
}

.accordion-item {
  border: 2px solid rgba(0, 0, 0, 0.125) !important;
  padding: 0;
  border-left: none;
  border-right: none;
}
